* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.language-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.lang-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#step1, #step2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sentence-input {
    width: 80%;
    margin-bottom: 20px;
}

#arranged-words, #alphabetical-words {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.word {
    background-color: #e0e0e0;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
}

.word.dragging {
    font-size: 1.5em;
}

.hidden {
    display: none;
}

#step2 {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

#arranged-words {
    flex-grow: 1;
}

.correct-order {
    border: 2px solid #4caf50;
}
